<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper" style="display:flex; align-items: center;">
      <img class="brand-l" src="assets/logo.png">
      <h4 style="margin: 0 auto;">ChatBot</h4>
    </div>
  </nav>
</div>

<div class="container" *ngIf="!isComplete">
  <mat-form-field *ngIf="!userId" class="example-full-width">
    <input matInput placeholder="Enter ID and press enter" #input (keyup.enter)="onUserEntered(input.value)">
  </mat-form-field>
  <div *ngFor="let chat of chatContents" class="chat-box">
    <app-card-generator [data]="chat" (userResponse)="getChatData($event)"></app-card-generator>
  </div>
</div>

<div class="thanks-container" *ngIf="isComplete">
  <mat-card>Thanks for your feedback.</mat-card>
</div>
