.container {
    text-align:left;
    max-width: 700px;
    margin: 0 auto;
    display: grid;
    overflow-y: auto;
    max-height: 550px;
    background-color: antiquewhite;
    border-radius: 10px;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 50%;
}

.example-full-width {
    width: 95% !important;
    margin-top: 10px !important;
}

.navbar-fixed {
    position: relative;
    height: 56px;
    z-index: 998;
    color: aqua;
    margin-bottom: 30px;
}

nav .nav-wrapper {
    position: relative;
    height: 100%;
    box-shadow: 0px 0px 20px 3px rgb(7, 132, 119);
}

nav {
    background-color: #239e93;
    color: #fff;
    width: 100%;
}

h4 {
    font-size: 2.28rem;
    line-height: 110%;
    margin: 1.14rem 0 0.912rem 0;
}
nav .brand-l {
    height: 50px;
    left: 10px;
    position: inherit;
}

.thanks-container .mat-card {
    padding: 40px;
    box-shadow: none;
    background-color: #26a69af5;
}

.container .mat-form-field {
    /* background-color: white; */
    margin: 0 auto;
    width: 95%;
}

.chat-box {
    /* background-color: antiquewhite; */
}

.mat-error {
    margin-bottom: 15px;
    text-align: left;
    margin-left: 15px;
    font-size: 12px;
}

.container::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

.container::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.container::-webkit-scrollbar-thumb
{
	border-radius: 10px;
    background-image: -webkit-gradient(linear, left bottom, left top,
                    color-stop(0.44, rgba(158, 158, 158, 0.47)),
                    color-stop(0.72, #9e9e9e6b),
                    color-stop(0.86, rgba(158, 158, 158, 0.28)));
}