.question-card {
    background-color: #B9F6CA;
    max-width: 80%;
    border-radius: 14px;
    margin: 10px;
    width: fit-content;
    border-radius: 20px;
}

.answer-card {
    /* color:#1976D2 !important; */
    color: #4a4a4a !important;
    max-width: 50%;
    float: right;
    border-radius: 14px;
    background-color: #fff;
    margin: 10px;
    word-break: break-all;
    border-radius: 20px;
}

:host /deep/ .question .mat-card-content {
    margin-bottom: 2px;
}

.mat-card {
    padding: 20px 15px;
}
.mat-card-actions {
    margin-left: 10px;
    text-align: left;
    max-width: 80%;
}

.mat-button{
    border: 2px solid;
    margin-right: 0 2px 0 0 !important;
}

.card-buttons {
    margin: 0 5px 5px 0 !important;
    /* background-color: lightgrey; */
    /* padding: 5px; */
    background-color: #599a88;
}

.example-full-width {
    /* width: 90%; */
    text-align: left;
    margin-left: 10px;
    width: 80%;
}

.icon-class {
    cursor: pointer;
    margin-left: 25px;
}

.mat-slider-horizontal {
    width: 50%;
    height: 60px;
}

.slider-pos {
    margin-top: 20px;
    text-align: left;
    margin-left: 10px;
}

.emojis {
    width: 60px;
    display: block;
    /* margin: 0 auto; */
    margin-left: 21%;
    /* padding: 15px; */
}

.answer-emojis {
    width: 60px;
    display: block;
    margin-left: 5%;
}

:host /deep/ .mat-slider.mat-slider-horizontal .mat-slider-wrapper {
    top: 18px;
  }
  :host /deep/ .mat-slider.mat-slider-horizontal .mat-slider-track-wrapper {
    height: 12px;
    border-radius: 10px
  }
  :host /deep/ .mat-slider.mat-slider-horizontal .mat-slider-track-background,
  :host /deep/ .mat-slider.mat-slider-horizontal .mat-slider-track-fill {
    height: 100%;
  }
  :host /deep/ .mat-slider.mat-slider-horizontal .mat-slider-track-fill {
    /* background-color: blue; */
    background-color: #599a88;
  }
  :host /deep/ .mat-accent .mat-slider-thumb {
    height: 30px;
    width: 30px;
    background-color: white;
    border: solid 2px gray;
    bottom: -20px;
    right: -20px;
  }
  :host /deep/ .mat-slider-min-value:not(.mat-slider-thumb-label-showing) .mat-slider-thumb {
    background-color: white;
  }

:host /deep/ .mat-form-field-underline {
    display: none;
}

.text-form {
    text-align: left;
    border-radius: 20px;
    border: 2px solid #bdbdbd;
    height: 70px;
    margin: 10px;
    width: 75%;
    margin-bottom: 20px;
}